<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Spring MVC - Exemplo 6</h1>
            <div th:if="${dados != null}">
                <h3>Nome: <span th:text="${dados.nome}">xxxxxxxx</span></h3>
                <p>Data de nascimento:
                    <span th:text="${dados.dataNascimento}" th:if="${dados.dataNascimento != null}">yyyy-MM-dd</span>
                    <span th:unless="${dados.dataNascimento != null}">NÃO INFORMADA</span>
                </p>
                <p>Número: <span th:text="${dados.numero}">00</span></p>
            </div>
            <div th:if="${dados == null}">
                <h3>Apelido não encontrado</h3>
            </div>
        </div>
    </body>
</html>
